:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-font-color: #ffffff;
  --accent-color: #2196f3;
  --filter-button-color: #f5f4fa;
  --footer-font-color: #2f303a;
}

/*------------------------GENERAL-----------------------*/

body {
  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-font-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-accent {
  color: var(--accent-color);
}
.footer-accent {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/*------------------------CONTAINER-----------------------*/

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*------------------------HEADER-----------------------*/

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-right: 93px;
}

.head {
  color: var(--primary-text-color);
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: -50px;
}

.nav-list a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 10px 0 10px 0;
  margin-left: auto;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item {
  margin-right: 50px;
  position: relative;
}

a.current {
  color: var(--accent-color);
}

a.current::after {
  margin-top: 28px;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: auto;
  margin-right: -50px;
}

.contacts-list-item {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contacts-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 10px 0 10px 0;

  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/*------------------------BANER-----------------------*/
.banner-bg {
  background-color: var(--footer-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/banner.jpg);
}

.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  max-width: 696px;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-font-color);
  margin: 0 auto;
  margin-bottom: 30px;
}

.banner-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  border: none;
  display: flex;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 11px 32px 11px 32px;

  color: var(--primary-font-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
}

.banner-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  /* pointer-events: none; */
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.banner-backdrop.is-hidden .banner-modal{
  transform: translate(-50%,-50%) scale(1.2);
  opacity: 0;
}

.banner-modal {
  padding: 8px;
  display: inline-flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;

  transform: translate(-50%,-50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-font-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/*------------------------FEATURES-----------------------*/

.features {
  padding-bottom: 0;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.features-list {
  display: flex;
  margin-right: -30px;
}

.features-list-item {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.features-list-item::before {
  margin-bottom: 30px;
  border-radius: 4px;
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}

.satellite-icon::before {
  background-image: url(../img/antenna\ 1.svg);
}

.timer-icon::before {
  background-image: url(../img/clock\ 1.svg);
}

.computer-icon::before {
  background-image: url(../img/diagram\ 1.svg);
}

.astronaut-icon::before {
  background-image: url(../img/astronaut\ 1.svg);
}

/*------------------------TASK-----------------------*/

.task-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.task-list {
  display: flex;
  margin-right: -30px;
}

.task-list-item {
  position: relative;
  display: block;
  margin-right: 30px;
}

.task-list-overlay {
  padding: 27px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/*------------------------TEAM-----------------------*/

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  margin: 0 auto;
  margin-right: -30px;
}

.team-list-item {
  display: block;
  background-color: var(--primary-font-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  text-align: center;
}

.team-social {
  margin-right: -10px;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}

.team-item {
  margin-right: 10px;
}

.team-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--primary-font-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: currentColor;
}

.team-link:focus,
.team-link:hover {
  background-color: var(--accent-color);
  color: var(--primary-font-color);
}

/*------------------------CLIENTS-----------------------*/

.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  margin-right: -30px;
}

.clients-item {
  margin-right: 30px;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  color: #afb1b8;
  padding: 14px 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:focus,
.clients-item:hover {
  border-color: var(--accent-color);
}

.clients-logo {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
}

/*------------------------FOOTER-----------------------*/

.footer-bg {
  background-color: var(--footer-font-color);
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
}

.footer-right {
  margin-left: 72px;
  padding-top: 8px;
}

.footer-sign{
margin-left: 93px;
padding-top: 8px;
}

.footer-sign-title{
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-sign-button{

  display: flex;
  min-width: 200px;
  min-height: 50px;
  border: 0;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;

background-color: var(--accent-color);
color: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-sign-button::after{
  content: '';
  margin-left: 10px;

  height: 24px;
  width: 24px;
 
  background-image: url(../img/icon-send.svg);
}

.footer-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-font-color);
}

.footer-list {
  padding-top: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  letter-spacing: 0.03em;

  color: var(--primary-font-color);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-join-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-font-color);
}

.team-social-footer {
  display: flex;
  margin-right: -10px;
}

.team-item-footer {
  margin-right: 10px;
}

.team-link-footer {
  height: 44px;
  width: 44px;
  background-color: #43444d;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--primary-font-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-footer:hover,
.team-link-footer:focus {
  background-color: var(--accent-color);
  color: var(--primary-font-color);
}

.team-icon-footer {
  fill: currentColor;
}

/*------------------------PORTFOLIO.HTML-----------------------*/
/*------------------------FILTER-----------------------*/

.main-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-filter {
  display: block;
}

.main-list-filter {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}

.main-list-item {
  margin-right: 8px;
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--filter-button-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:focus,
.main-button:hover {
  color: var(--filter-button-color);
  background-color: var(--accent-color);
}

.main-list {
  flex-wrap: wrap;
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.main-link-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-link-item:focus,
.main-link-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-list-overlay {
  position: relative;
  overflow: hidden;
}

.main-list-overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  align-self: center;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--primary-font-color);
  background-color: var(--accent-color);
  transform: translateY(100%);
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-list-link:hover .main-list-overlay-text {
  opacity: 1;
  background-color: var(--accent-color);
  transform: translateY(0);
}

.list-item-desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.main-list .item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
  padding-bottom: 4px;
}

.item-text {
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
