@import './utils/general';
@import './utils/variables';

@import './components/modal';
@import './components/backdrop';
@import './components/banner';
@import './components/clients';
@import './components/container';
@import './components/advantages';
@import './components/footer';
@import './components/header';
@import './components/portfolio';
@import './components/task';
@import './components/team';
@import './components/button';
@import './components/social-link';
@import './components/logo';
