.clients {
  &__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.78;

    text-align: center;
    letter-spacing: 0.03em;
  }

  &-list {
      margin: -15px;
    display: flex;
    flex-wrap: wrap;
    &__item {
        margin: 15px;
        width: calc((100% - 2*30px) / 2);
      height: 92px;

      @include mq(tablet){
        width: calc((100% - 3*30px) / 3);
      }

      @include mq(desctop){
        width: calc((100% - 6*30px) / 6);
      }

      border: 1px solid #afb1b8;
      border-radius: 4px;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: border-color 250ms var(--animate),
        transform 250ms var(--animate);

      &:focus,
      &:hover {
        border-color: var(--accent-color);
        transform: scale(1.1);
      }
    }

    &__link {
      color: #afb1b8;
      padding: 14px 32px;

      transition: color 250ms var(--animate);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__logo {
      fill: currentColor;
    }
  }
}
