.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;

    @include mq(mobile){
      width: 480px;
    }

    @include mq(tablet){
      width: 768px;
    }

    @include mq(desctop){
      width: 1200px;
    }
  }
