.clients {
  &-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &-list {
    display: flex;
    margin-right: -30px;
  }

  &-item {
    margin-right: 30px;

    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color 250ms var(--animate),
      transform 250ms var(--animate);

    &:focus,
    &:hover {
      border-color: var(--accent-color);
      transform: scale(1.1);
    }
  }

  &-link {
    color: #afb1b8;
    padding: 14px 32px;

    transition: color 250ms var(--animate);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &-logo {
    fill: currentColor;
  }
}
