.features {
  padding-bottom: 0;
  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
    margin-bottom: 10px;
  }

  &-text {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
  }

  &-list {
    display: flex;
    margin-right: -30px;
  }

  &-list-item {
    display: block;
    width: 270px;
    margin-right: 30px;

    &::before {
      margin-bottom: 30px;
      border-radius: 4px;
      display: block;
      content: "";
      height: 120px;
      background-color: #f5f4fa;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.satellite-icon::before {
  background-image: url(../img/antenna1.svg);
}

.timer-icon::before {
  background-image: url(../img/clock1.svg);
}

.computer-icon::before {
  background-image: url(../img/diagram1.svg);
}

.astronaut-icon::before {
  background-image: url(../img/astronaut1.svg);
}
