.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__logo {
    margin-right: 93px;
    color: var(--accent-color);
  }

  &__logo--accent {
    color: var(--primary-text-color);
  }
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: -50px;

  &__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 10px 0 10px 0;
    margin-left: auto;
    cursor: pointer;

    transition: color 250ms var(--animate);
  }

  &__item {
    margin-right: 50px;
    position: relative;
  }

  &__link--current {
    color: var(--accent-color);
    &::after {
      margin-top: 28px;
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}

.header-contacts {
  &-list {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: auto;
    & a:hover,
    & a:focus {
      color: var(--accent-color);
    }
  }
  &__item {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 10px 0 10px 0;

    color: var(--secondary-text-color);

    transition: color 250ms var(--animate);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
