.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--animate), opacity 250ms var(--animate),
    visibility 250ms var(--animate);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &-close__button {
    right: 8px;
    top: 8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-font-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: var(--accent-color);

    &:hover {
      fill: currentColor;
    }
  }

  &__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &-list {
    margin-bottom: 20px;
  }

  &-list__item {
    position: relative;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
  }

  &__input {
    padding-left: 42px;

    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition: color 250ms var(--animate),
    outline-color 250ms var(--animate);
    &:focus {
      outline-color: var(--accent-color);
    }

    &:focus + .modal__input-icon {
      fill: currentColor;
    }
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    color: var(--accent-color);
    transition: fill 250ms var(--animate);
  }

  &__textarea {
    height: 120px;
    width: 448px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;

    transition: outline-color 250ms var(--animate);

    &:focus {
      outline-color: var(--accent-color);
    }

    &::placeholder {
      font-size: 14px;
      line-height: 1.42;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__policy {
    padding: 0 11px;
    margin-bottom: 30px;
  }

  &-label__checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }

  &-label__checkbox--hidden {
    appearance: none;
    &:checked + .modal__checkbox {
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      background-image: url(../img/iconcheck.svg);
      background-size: contain;
      background-origin: border-box;
    }
  }

  &-policy__link {
    color: var(--accent-color);
    margin-left: 3px;
  }

  &__checkbox {
    margin-right: 8px;
    display: block;

    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
  }
}
