  .team {
    background-color: #f5f4fa;
  }
  
  .team-list {
    display: flex;
    margin: 0 auto;
    margin-right: -30px;
  }
  
  .team-list-item {
    display: block;
    background-color: var(--primary-font-color);
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
  }
  
  .team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
  }
  
  .team-description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  
    letter-spacing: 0.03em;
  
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 10px;
  }
  
  .team-text {
    margin-bottom: 16px;
  
    font-size: 16px;
    line-height: 1.19;
  
    letter-spacing: 0.03em;
  
    color: var(--secondary-text-color);
    text-align: center;
  }
  
  .team-social {
    margin-right: -10px;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .team-item {
    margin-right: 10px;
  }
  
  .team-link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--primary-font-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
  
    transition: background-color 250ms var(--animate), color 250ms var(--animate),
    transform 250ms var(--animate);

      &:focus,
      &:hover {
        background-color: var(--accent-color);
        color: var(--primary-font-color);
        transform: scale(1.1);
    }
}
  
  .team-icon {
    fill: currentColor;
  }
  
  